{% extends 'ads/base.html' %}
{% block content %}
    <h1>Новое обьявление</h1>
    <hr>
    <form onsubmit="event.target.onsubmit = (e) => e.preventDefault()" action="{% url 'create_ad' %}" id="send" method="post" autocomplete="off">
        {% csrf_token %}
        {{form.title.label}}: {{form.title}} <br>
        {{form.description.label}}: {{form.description}} <br>
        {{form.category.label}}: {{form.category}} <br>
        {{form.condition.label}}: {{form.condition}} <br>
        <button class="btn btn-success" type="submit">Опубликовать</button>
    </form>
    <script>
        $(document).on('submit', '#send', function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/ads/create_ad/',
                data:{
                    title:$('#id_title').val(),
                    description:$('#id_description').val(),
                    category:$('#id_category').val(),
                    condition:$('#id_condition').val(),
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    action: 'post'
                },
                success:function(json){
                    window.location.href = 'http://127.0.0.1:8000/ads/get_ads/1/';
                    alert('Обьявление опубликовано!');
                },
                error:function(xhr,errmsg,err) {
                    alert("Ошибка: " + xhr.responseText);
                }
            });
        });
    </script>
    
{% endblock content %}
