{% extends 'main/base.html' %}

{% block content %}
    <h1>Профиль</h1>
    {% if user.username == userQ.username %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Выйти</button>
    </form>
    {% endif %}
    <hr>
    <div>
        <h3>Username: {{userQ.username}}</h3>
        <h3>Дата регистрации: {{userQ.date_joined}}</h3>
    </div>
    {% if posts %}
    <h1>Посты:</h1>
    <hr>
        {% for post in posts %}
            {% include 'main/_post.html' %} <br><hr>
        {% endfor %}
    {% else %}
        <h1>У пользователя нет постов!</h1>
    {% endif %}
    
{% endblock content %}